{
  "mcpServers": {
    "fabrics": {
      "command": "cmd",
      "args": ["/c", "npx", "@pichincha/fabrics-project@latest"],
      "env": {
        "ARTIFACT_USERNAME": "BancoPichinchaEC",
        "ARTIFACT_TOKEN": "{{ artifact_token_placeholder }}"
      }
    }
  }
}
